#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Containers */

.app {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 10% 83% 7%;
}

.header {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-family: 'pacifico';
  font-weight: 200;
}

.game {
  display: grid;
  grid-template-rows: 45% 20% 35%;
}

/* Game state */

.gameState {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
}

.guesses {
  grid-area: 1 / 1 / 2 / 2;
}

.galgje {
  grid-area: 1 / 2 / 2 / 3;
}

.hints {
  grid-area: 1 / 3 / 2 / 4;
}

/* Galgje tekening */

.galgje {
  border: 1px dashed #555;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.balk1 {
  position: absolute;
  top: 30px;
  left: 160px;
  height: 180px;
  width: 20px;
}

.balk2 {
  position: absolute;
  top: 30px;
  left: 35px;
  height: 15px;
  width: 130px;
}

.steunbalk {
  position: absolute;
  top: 40px;
  left: 140px;
  width: 25px;
}

.touw {
  position: absolute;
  top: 42px;
  left: 55px;
  height: 80px;
  width: 15px;
}

.popje {
  position: absolute;
  top: 93px;
  left: 43px;
  height: 70px;
}

/* .balk1,
.balk2,
.steunbalk,
.touw,
.popje {
  display: none;
} */

.footer {
  background-color: #282c34;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
